.Wrapper {
  width: 234px;
  padding: 0 4px;
  float: left;

  a {
    display: block;

    img {
      width: 100%;
      height: auto;
    }
  }

  .BottomWrapper {
    padding: 10px;
    overflow: hidden;

    .Info {
      float: left;
      width: 165px;
      height: 45px;

      .Title, .Price {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .Favourite {
      float: right;
      height: 45px;
      padding: 10px;
      cursor: pointer;

      i {
        font-size: 14pt;
      }
    }
  }
}