.LayoutBackground {
  background-color: rgb(235, 235, 235);

  .LayoutContainer {
    width: 480px;
    margin: 0 auto;

    .Back {
      float: left;
    }

    .Title {
      width: 295px;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .Spacer {
      width: 100%;
      height: 70px;
    }
  }
}