.Wrapper {
  float: left;
  width: 228px;
  text-align: center;
  background-color: rgb(245, 192, 188);
  height: 64px;
  margin: 3px;
  border-radius: 5px;

  .Link {
    padding: 23px 0;
    font-size: 10pt;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: rgb(80, 80, 80);
  }
}