.Wrapper {
  float: left;
  width: 110px;
  margin: 5px 0 10px 0;

  a:hover {
    text-decoration: none;
  }

  img {
    width: 64px;
    height: 64px;
    margin: 0 23px;
    border-radius: 100%;
  }

  .Category {
    width: 100%;
    text-align: center;
    font-size: 8pt;
    text-transform: uppercase;
    color: rgb(100, 100, 100);
    margin: 15px 0 5px 0;
  }
}