.Cardheader {
  background-color: rgb(171, 235, 232) !important;

  .Section {
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.Wrapper {
  position: relative;
  left: -5px;
  top: -5px;
  overflow: hidden;
  width: 478px;
  float: left;

  .ImgWrapper {
    display: block;
    height: 480px;
    text-decoration: none;
    cursor: zoom-in;

    .Notice {
      background-color: rgb(168, 139, 50);
      position: relative;
      top: -60px;
      padding: 5px 10px;
      color: rgb(255, 255, 255);
      font-size: 10pt;
    }
  }

  .Box {
    width: 100%;
    padding: 15px;
    float: left;

    .Title {
      font-size: 14pt;
      color: rgb(80, 80, 80);
      width: 100%;
      float: left;
    }

    .Price {
      font-size: 16pt;
      color: rgb(156, 6, 39);
      float: left;
    }

    .TryFirst {
      font-size: 12pt;
      color: rgb(77, 171, 80);
      float: right;
    }

    .SubTitle {
      text-transform: uppercase;
      font-size: 10pt;
      color: rgb(100, 100, 100);
    }

    .Text {
      font-size: 12pt;
      color: rgb(80, 80, 80);
    }

    .SizeGuide {
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .AddLine {
    width: 100%;
    height: 2px;
    float: left;
    border-bottom: 1px solid rgb(220, 220, 220);
  }
}