$theme-colors: (
        "primary": rgb(156, 6, 39)
);

//$card-header: red;
//
//$btn-border-radius: 3000px;
//$card-spacer-y: 10px;

@import "~bootstrap/scss/bootstrap";

.card {
  margin-bottom: 10px;

  .card-header {
    border-bottom: none;
    background-color: rgb(255, 255, 255);
  }

  .card-body {
    padding: 5px;
  }
}
