.Wrapper {
  position: relative;
  left: -5px;
  overflow: hidden;
  width: 478px;
  float: left;
  margin-bottom: 10px;

  a {
    display: block;
    text-decoration: none;
    height: 480px;

    .Notice {
      background-color: rgb(168, 139, 50);
      position: relative;
      top: -60px;
      padding: 5px 10px;
      color: rgb(255, 255, 255);
      font-size: 10pt;
    }
  }

  .Box {
    width: 100%;
    padding: 10px 15px;
    float: left;

    .Left {
      float: left;
      width: 70%;
      line-height: 30px;

      .Title {
        font-size: 12pt;
        color: rgb(80, 80, 80);
        width: 100%;
        float: left;
      }

      .Size {
        font-size: 10pt;
        color: rgb(80, 80, 80);
        float: left;
        background-color: rgb(200, 200, 200);
        margin-right: 200px;
        padding: 0 10px;
      }

      .Price {
        float: left;
        font-size: 14pt;
        font-weight: bold;
      }
    }

    .Right {
      float: right;
    }
  }
}